<div class="login-container">
      <div class="login">
        <h2>Login</h2>
        <form   (submit)="onSubmit($event)">
          <label for="email">Email</label>
          <input type="email" id="email" #email (keyup)="setEmail(email.value)" placeholder="test@atheros.ai">
          
          <label for="password">Password</label>
          <input type="password" id="password" #password (keyup)="setPassword(password.value)" placeholder="******">
          
          <button type="submit" class="btn btn-signin">Sign In</button>
        </form>
        <p>Don't have an account? <a (click)="navigateToSignup()">Sign Up Now</a></p>
      </div>
    
    </div>
