<html><head>
    <title>
     My Reservations
    </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;display=swap" rel="stylesheet">
    

   </head>
   <body>
    
    <div class="container">
     
     <div class="content">
      <div class="breadcrumb">
       <a href="#">
        Home
       </a>
       <span>
        &gt;
       </span>
       <a href="#">
        My Reservations
       </a>
      </div>
      <h2>
       My Reservations
      </h2>
      <ul class="orders">
       <li class="order-item">
        <img alt="City Crepe - Awlad Amer logo" height="50" src="https://storage.googleapis.com/a1aa/image/ro4IR3uXvnaQDxeUhwzxJhaCN3SQ6aEP32RToqb6Jgshpx8JA.jpg" width="50">
        <div class="order-details">
         <h4>
          City Crepe - Awlad Amer
         </h4>
         <p>
          05 December 2024 12:03
         </p>
         <p>
          Order Id: 1874368775
          <span class="status">
           Delivered
          </span>
         </p>
        </div>
        <button class="order-again">
         Order again
        </button>
       </li>
       <li class="order-item">
        <img alt="City Crepe - Awlad Amer logo" height="50" src="https://storage.googleapis.com/a1aa/image/ro4IR3uXvnaQDxeUhwzxJhaCN3SQ6aEP32RToqb6Jgshpx8JA.jpg" width="50">
        <div class="order-details">
         <h4>
          City Crepe - Awlad Amer
         </h4>
         <p>
          03 December 2024 15:14
         </p>
         <p>
          Order Id: 1878161393
          <span class="status">
           Delivered
          </span>
         </p>
        </div>
        <button class="order-again">
         Order again
        </button>
       </li>
       <li class="order-item">
        <img alt="City Crepe - Awlad Amer logo" height="50" src="https://storage.googleapis.com/a1aa/image/ro4IR3uXvnaQDxeUhwzxJhaCN3SQ6aEP32RToqb6Jgshpx8JA.jpg" width="50">
        <div class="order-details">
         <h4>
          City Crepe - Awlad Amer
         </h4>
         <p>
          01 December 2024 13:20
         </p>
         <p>
          Order Id: 1868682244
          <span class="status">
           Delivered
          </span>
         </p>
        </div>
        <button class="order-again">
         Order again
        </button>
       </li>
       <li class="order-item">
        <img alt="Bazooka logo" height="50" src="https://storage.googleapis.com/a1aa/image/vgngRkGpz95PDRkO2PD836VhicXFoDwVMGymELkXiSDw0YeJA.jpg" width="50">
        <div class="order-details">
         <h4>
          Bazooka
         </h4>
         <p>
          29 November 2024 00:48
         </p>
         <p>
          Order Id: 1865017992
          <span class="status">
           Delivered
          </span>
         </p>
        </div>
        <button class="order-again">
         Order again
        </button>
       </li>
       <li class="order-item">
        <img alt="talabat mart logo" height="50" src="https://storage.googleapis.com/a1aa/image/xN6Bf3sdEYXbUS2f5x2jMEfeIQ46y75tMWUAEbHQDjI5LNmPB.jpg" width="50">
        <div class="order-details">
         <h4>
          talabat mart
         </h4>
         <p>
          31 October 2024 11:41
         </p>
         <p>
          Order Id: 1821224974
          <span class="status">
           Delivered
          </span>
         </p>
        </div>
        <button class="order-again">
         Order again
        </button>
       </li>
       <li class="order-item">
        <img alt="talabat mart logo" height="50" src="https://storage.googleapis.com/a1aa/image/xN6Bf3sdEYXbUS2f5x2jMEfeIQ46y75tMWUAEbHQDjI5LNmPB.jpg" width="50">
        <div class="order-details">
         <h4>
          talabat mart
         </h4>
         <p>
          30 October 2024 10:42
         </p>
         <p>
          Order Id: 1819650366
          <span class="status">
           Delivered
          </span>
         </p>
        </div>
        <button class="order-again">
         Order again
        </button>
       </li>
       <li class="order-item">
        <img alt="talabat mart logo" height="50" src="https://storage.googleapis.com/a1aa/image/xN6Bf3sdEYXbUS2f5x2jMEfeIQ46y75tMWUAEbHQDjI5LNmPB.jpg" width="50">
        <div class="order-details">
         <h4>
          talabat mart
         </h4>
         <p>
          16 October 2024 16:09
         </p>
         <p>
          Order Id: 1798799059
          <span class="status">
           Delivered
          </span>
         </p>
        </div>
        <button class="order-again">
         Order again
        </button>
       </li>
      </ul>
     </div>
    </div>
   
  
  </body></html>