body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    width: 100%;
    text-align: center;
    // padding: 50px 20px;
    background-color: #f8f8f8;
    position: relative;
}
.hero img {
    padding: 0;
    margin: 0;
    width: 100%;
    // max-width: 1200px;
    margin-bottom: 20px;
}
.hero h1 {
    font-size: 48px;
    margin-bottom: 5px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
    font-family: 'Playfair Display', serif;
}
.hero p {
    font-size: 24px;
    margin-bottom: 5px;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
    font-family: 'Playfair Display', serif;
}
.hero .subtext {
    font-size: 18px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
    font-family: 'Playfair Display', serif;
}
.hero .btn {
    background-color: #d9534f;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.hero .btn:hover {
    background-color: #c9302c;
}
.categories, .restaurants {
    padding: 50px 20px;
    text-align: center;
}
.categories h2, .restaurants h2 {
    font-size: 28px;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}
.categories .category-list, .restaurants .restaurant-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.category-item, .restaurant-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
}
.category-item img, .restaurant-item img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}
.category-item h3, .restaurant-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
.category-item p, .restaurant-item p {
    font-size: 14px;
    color: #777;
}
.category-item .btn, .restaurant-item .btn {
    background-color: #d9534f;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.category-item .btn:hover, .restaurant-item .btn:hover {
    background-color: #c9302c;
}
footer {
    background-color: #FFD700;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
}