<header>
  <div class="logo">
    <img src="./icon.png" alt="Logo">
    <i class="fas fa-hamburger"></i> (WTF?) Where is the food?
  </div>
  <nav>
    <div class="left-links">
      <!-- Use (click) to navigate to the pages -->
      <a (click)="navigateTo('')">Home</a>
      <a (click)="navigateTo('search')">Search</a>
      <a (click)="navigateTo('map')">Map</a>
    </div>
    <div class="right-links">
      <!-- Use (click) to navigate to the pages -->
      <a *ngIf="isLoggedIn" (click)="navigateTo('my-reservations')">My Reservations</a>
      <a *ngIf="isLoggedIn" (click)="logout()">Log out</a>
      
      <a *ngIf="!isLoggedIn" (click)="navigateTo('signup')">Register</a>
      <a *ngIf="!isLoggedIn" (click)="navigateTo('login')">Log in</a>
    </div>
  </nav>
</header>
