<div class="container">
  <div class="content">
    <ul class="orders">
      @for (reservation of reservations; track $index) {
        <li class="order-item" >
          <img [src]="reservation.restaurantLogo" alt="Restaurant Logo" height="50" width="50">
          <div class="order-details">
            <h4>{{ reservation.restaurantName }}</h4>
            <p>{{ reservation.date }} {{ reservation.time }}</p>
          </div>
          <button class="view-details" (click)="openDetails(reservation)">
            View Details
          </button>
        </li>
      }
    </ul>
  </div>

  <!-- Reservation Details Modal -->
   @if (isModalOpen) {
    <div class="modal">
      <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <h3>Reservation Details</h3>
        <p><strong>Restaurant:</strong> {{ selectedReservation?.restaurantName }}</p>
        <p><strong>Date:</strong> {{ selectedReservation?.date }}</p>
        <p><strong>Time:</strong> {{ selectedReservation?.time }}</p>
      </div>
    </div>
   }
</div>
